body {
    background-color: #053B50;
    background-attachment: fixed;
}

.first-image {
    background-color: #176B87;
    margin: 0px;
    padding: 0%;
    border: 0%;
}

h1 {
    color: white;
    position: relative;
    margin-left: 40%;
    font-size: 50px;
}

.images h3{
    color: white;
}

.head2{
    color: #FFDBAA;
    position: absolute;
    top: 190px;
    margin-left: 42%;
    font-size: 45px;
    background-color: #64CCC5;
    width: 200px;
    
}

div p{
    text-align: center;
    color: white;
    position: relative;
    top: 33px;
    font-size: 20px;
    width: 500px;
}

.about {
    margin-left: 32%;
    position: relative;
    top: 25px;
    width: 50%;
}

div h2 {
    position: relative;
    top: 70px;
    font-size: 30px;
    background-color: white;
    width: 400px;
    text-align: center;
    border: 5px solid #ffffff;
    border-radius: 50px;
    margin-left: 35%;
}

.fabrications{
    color: white;
    position: relative;
    top: 80px;
    left: 20px;

}

.fabrications li{
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

.images{
    margin-left: 10%;
    position: relative;
    top: 100px;
}

.images img{
    border: 5px solid white;
    border-radius: 20px;    
}

.first-image a{
    color:#053B50;
    margin-top: 50px;
    margin-right: 50px;
    background-color: white;
    border: 5px solid white;
    border-radius: 30px;
    float: right;
    font-size: 20px;
}

.foot{
    margin: 0%;
    position: relative;
    top: 100px;
    background-color: white;
    height: 250px;
    width: 100%;
   
}

#call{
    font-size: 50px;
    color: black;
    margin-left: 30%;
}

hr{
    width: 70%;

}

#rights{
    color: black;
    margin-left: 30%;
}
.products{
    margin-top: 100px;
    margin-left: 40%;
}

.products img{
    width: 200px;
    height: 200px;
}

figure{
    width: 50%;
    float: left;
}

figcaption{
    position: relative;
    left: 2%;
    width: 40%;
    text-align: center;
    color: white;

}

@media (max-width:720px) and (max-height: 1640px){

    body {
        background-attachment: fixed;
    }
    h1 {
        color: white;
        position: relative;
        left: -10%;
        top: 10px;
        width: 100%;
        font-size: 55px;
    }

    .top-box {
        background-color: #176B87;
        height: 250px;
        width: 150%;

    }

    .head2{
        color: #FFDBAA;
        position: relative;
        top: -15px;
        left: -7%;
        font-size: 45px;
        background-color: #64CCC5;
    }

    .about p{
        font-size: 30px;
        width: 110%;
        text-align: center;
    }

    .about {
        margin-left: 23%;
        position: relative;
        top: -55px;
    
    }

    .visit-box{
        position: absolute;
        left: 1%;
        top: 51%;
      
    }

    .images {
        position: relative;
        top: 30px;
    }
    
    .first-image img{
        position: absolute;
        top: 30px;
        left: -80px;
        width: 10px;

    }

   
    #call{
        font-size: 30px;
        color: black;
        margin-left: 90px;
        margin-top: 50px;
    }

    #rights{
        color: black;
        margin-left: 1%;
        position: relative;
        top: 20px;
        width: 100%;
    }

    hr{
        position: relative;
        top: 30px;
    }

    .first-image a{
        position: absolute;
        top: 10%;
        left: 80%;
    }


    .first-image img{
        margin-left: 10%;
        width: 80%;

    }


    .fabrications{
        color:rgb(255, 255, 255);
        position: absolute;
        top: 61%;
        left: -1%;
        width: 100%;
        justify-content: center;

    }

    .images{
        position: absolute;
        width: 80%;
        top: 67%;
        left: 10%;
    }


    .foot{
        margin: 0%;
        position: absolute;
        top: 130%;
        height: 200px;
        width: 100%;
       
    }

    .foot-box{
        background-color: white;
        height: 400px;
        width: 200%;
        margin-top: 170%;
    }



}
